node_modules/
server/node_modules/
server/npm-debug.log*
*.log
.DS_Store
Thumbs.db
api.apikey
.env
*.out
*.err
.env*
!android/app/src/main/assets/bin/
!android/app/src/main/assets/bin/*
!.github/workflows/android.yml